<!-- Default form subscription -->
<form class="text-center border border-light p-5">

    <p class="h4 mb-4">Editando</p>
  
    <p>Editando um cadastro no banco com a api</p>

    <input type="number" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Id">

    <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Nome">

    <input type="text" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Sobrenome">

    <input type="number" id="defaultSubscriptionFormPassword" class="form-control mb-4" placeholder="Idade">


    <!-- Sign in button -->
    <button mdbBtn color="info" block="true" type="submit">Cadastrar</button>
  
  
  </form>
  <!-- Default form subscription -->
